<template>
    <div>
        <h3 class="text-center">Create User</h3>
        <div class="row">
            <div class="col-md-6">
                <form id="app"
                    @submit.prevent="addProduct">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="$v.name.$model">
                    </div>
                    <div v-if="$v.name.$dirty"> <div class="error-block" v-if="!$v.name.required">Name is required</div> </div>
                    <div v-if="$v.name.$dirty"> <div class="error-block" v-if="!$v.name.minLength">Name must have at least {{$v.name.$params.minLength.min}} letters.</div> </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" v-model="$v.email.$model">
                    </div>
                    <div v-if="$v.email.$dirty"> <div class="error-block" v-if="!$v.email.required">Email is required</div> </div>
                    <div v-if="$v.email.$dirty"> <div class="error-block" v-if="!$v.email.email">Email must be valid.</div> </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" v-model="$v.password.$model">
                    </div>
                    <div v-if="$v.password.$dirty"> <div class="error-block" v-if="!$v.password.required">Password is required</div> </div>
                    <button type="submit" class="btn btn-primary" :disabled="submitStatus === 'PENDING'">Create</button>
                    <p class="typo__p" v-if="submitStatus === 'OK'">User has been added successfully!</p>
                    <p class="typo__p error-block" v-if="submitStatus === 'ERROR'">Please fill the form correctly.</p>
                    <p class="typo__p error-block" v-if="emailErrorMsg !== null && submitStatus === 'SERVER_ERROR'">{{ emailErrorMsg }}</p>
                    <p class="typo__p" v-if="submitStatus === 'PENDING'">Submitting...</p>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
    import { required, minLength, email } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                user: {},
                name: '',
                email: '',
                password: '',
                errors: [],
                submitStatus: null,
                emailErrorMsg: null
            }
        },
        validations: {
            name: {
                required,
                minLength: minLength(4)
            },
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(6)
            }
        },
        methods: {
            addProduct(e) {
                console.log('submit!')
                
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    // do your submit logic here
                    this.submitStatus = 'PENDING'

                    this.user.name = this.name
                    this.user.email = this.email
                    this.user.password = this.password
                    
                    setTimeout(() => {
                        this.axios
                            .post('http://localhost:8000/api/users/create', this.user)
                            .then(response => {
                                if(response.data.success == true) {
                                    this.$swal({
                                        title: 'Success',
                                        text: 'User has been successfully added.',
                                        type: 'success',
                                        showCancelButton: false,
                                        confirmButtonText: 'Ok',
                                        showCloseButton: true,
                                        showLoaderOnConfirm: true
                                    }).then((result) => {
                                        if(result.value) {
                                            this.submitStatus = 'OK'
                                            this.$router.push({ name: 'home' })
                                        }
                                    })
                                } else {
                                    this.emailErrorMsg = 'This email has already been taken. Please enter another email.'
                                    this.submitStatus = 'SERVER_ERROR'
                                }
                            })
                            .catch(err => console.log(err))
                            .finally(() => this.loading = false)
                    }, 500)
                }
            }
        }
    }
</script>