<template>
    <div>
        <h3 class="text-center">Dashboard</h3>
        <div class="row">
            <div class="col-md-6">
                Hello User
            </div>
        </div>
    </div>
</template>
 
<script>
    import { required, minLength, email } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                user: {},
                email: '',
                password: '',
                errors: [],
                submitStatus: null,
                emailErrorMsg: null
            }
        },
        validations: {
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(6)
            }
        },
        methods: {
            addProduct(e) {
                console.log('submit!')
                
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    // do your submit logic here
                    this.submitStatus = 'PENDING'

                    this.user.email = this.email
                    this.user.password = this.password
                    
                    setTimeout(() => {
                        this.axios
                            .post('http://localhost:8000/api/users/login', this.user)
                            .then(response => {
                                if(response.data.success == true) {
                                    this.$swal({
                                        title: 'Success',
                                        text: 'User has been successfully login.',
                                        type: 'success',
                                        showCancelButton: false,
                                        confirmButtonText: 'Ok',
                                        showCloseButton: true,
                                        showLoaderOnConfirm: true
                                    }).then((result) => {
                                        if(result.value) {
                                            this.submitStatus = 'OK'
                                            this.$router.push({ name: 'home' })
                                        }
                                    })
                                } else {
                                    this.emailErrorMsg = 'This email has already been taken. Please enter another email.'
                                    this.submitStatus = 'SERVER_ERROR'
                                }
                            })
                            .catch(err => console.log(err))
                            .finally(() => this.loading = false)
                    }, 500)
                }
            }
        }
    }
</script>