<template>
    <div>
        <h3 class="text-center">Edit User</h3>
        <div class="row">
            <div class="col-md-6">
                <div v-if="errors.length">
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <b>Please correct the following error(s):</b>
                        <ul>
                            <li v-bind:key="error.id" v-for="error in errors">{{ error }}</li>
                        </ul>
                    </div>
                </div>
                <form id="app"
                    @submit.prevent="editUser">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="$v.name.$model">
                    </div>
                    <div v-if="$v.name.$dirty"> <div class="error-block" v-if="!$v.name.required">Name is required</div> </div>
                    <div v-if="$v.name.$dirty"> <div class="error-block" v-if="!$v.name.minLength">Name must have at least {{$v.name.$params.minLength.min}} letters.</div> </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" v-model="$v.email.$model">
                    </div>
                    <div v-if="$v.email.$dirty"> <div class="error-block" v-if="!$v.email.required">Email is required</div> </div>
                    <div v-if="$v.email.$dirty"> <div class="error-block" v-if="!$v.email.email">Email must be valid.</div> </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" v-model="$v.password.$model">
                    </div>
                    <div v-if="$v.password.$dirty"> <div class="error-block" v-if="!$v.password.required">Password is required</div> </div>
                    <button type="submit" class="btn btn-primary" :disabled="submitStatus === 'PENDING'">Update</button>
                    <p class="typo__p" v-if="submitStatus === 'OK'">User has been added successfully!</p>
                    <p class="typo__p error-block" v-if="submitStatus === 'ERROR'">Please fill the form correctly.</p>
                    <p class="typo__p error-block" v-if="emailErrorMsg !== null && submitStatus === 'SERVER_ERROR'">{{ emailErrorMsg }}</p>
                    <p class="typo__p" v-if="submitStatus === 'PENDING'">Submitting...</p>
                </form>
            </div>
        </div>
    </div>
</template>
 
<script>
    import { required, minLength, email } from 'vuelidate/lib/validators'

    export default {
        data() {
            return {
                id: 0,
                user: {},
                name: '',
                email: '',
                password: '',
                errors: [],
                submitStatus: null,
                emailErrorMsg: null
            }
        },
        validations: {
            name: {
                required,
                minLength: minLength(4)
            },
            email: {
                required,
                email
            },
            password: {
                required,
                minLength: minLength(6)
            }
        },
        created() {
            this.id = this.$route.params.id;

            this.axios
            .post('http://localhost:8000/api/users/edit', {id: this.id})
            .then(response => (
                this.name = response.data.data.name,
                this.email = response.data.data.email,
                this.password = ''
            ))
            .catch(err => console.log(err))
            .finally(() => this.loading = false)                
        },
        methods: {
            editUserOld: function(e) {
                if (this.user.name && this.user.email) {
                    this.axios
                        .post('http://localhost:8000/api/users/update/'+this.id, this.user)
                        .then(response => (
                            this.$swal({
                                title: 'Success',
                                text: 'User has been successfully updated.',
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'Ok',
                                showCloseButton: true,
                                showLoaderOnConfirm: true
                            }).then((result) => {
                                if(result.value) {
                                    this.$router.push({ name: 'home' })
                                }
                            })
                        ))
                        .catch(err => console.log(err))
                        .finally(() => this.loading = false)
                }

                this.errors = [];

                if (!this.user.name) {
                    this.errors.push('Please enter the name.');
                }

                if (!this.user.email) {
                    this.errors.push('Please enter the email.');
                }

                // if (!this.user.password) {
                //     this.errors.push('Please enter the password.');
                // }

                e.preventDefault();
            },

            editUser(e) {
                console.log('submit!')
                
                this.$v.$touch()
                if (this.$v.$invalid) {
                    this.submitStatus = 'ERROR'
                } else {
                    // do your submit logic here
                    this.submitStatus = 'PENDING'

                    this.user.name = this.name
                    this.user.email = this.email
                    this.user.password = this.password
                    
                    setTimeout(() => {
                        this.axios
                            .post('http://localhost:8000/api/users/update/'+this.id, this.user)
                            .then(response => {
                                if(response.data.success == true) {
                                    this.$swal({
                                        title: 'Success',
                                        text: 'User has been successfully updated.',
                                        type: 'success',
                                        showCancelButton: false,
                                        confirmButtonText: 'Ok',
                                        showCloseButton: true,
                                        showLoaderOnConfirm: true
                                    }).then((result) => {
                                        if(result.value) {
                                            this.submitStatus = 'OK'
                                            this.$router.push({ name: 'home' })
                                        }
                                    })
                                } else {
                                    this.emailErrorMsg = 'This email has already been taken. Please enter another email.'
                                    this.submitStatus = 'SERVER_ERROR'
                                }
                            })
                            .catch(err => console.log(err))
                            .finally(() => this.loading = false)
                    }, 500)
                }
            }
        }
    }
</script>