<template>
    <div>
        <h3 class="text-center">Show User</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label><b> Name : </b></label>
                    <label> {{ this.user.name }} </label>
                </div>
                <div class="form-group">
                    <label><b> Email : </b></label>
                    <label> {{ this.user.email }} </label>
                </div>
            </div>
        </div>
    </div>
</template>
 
<script>
    export default {
        data() {
            return {
                id: 0,
                user: {}
            }
        },
        created() {
            this.id = this.$route.params.id;

            this.axios
            .post('http://localhost:8000/api/users/show', {id: this.id})
            .then(response => (
                this.user = response.data.data
            ))
            .catch(err => console.log(err))
            .finally(() => this.loading = false)                
        }
    }
</script>