<template>
    <div>
        <h3 class="text-center">All Users</h3><br/>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" :key="user.id">
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td>{{ user.updated_at }}</td>
                <td>
                    <router-link class="btn btn-primary" :to="{ name: 'show', params: { id: user.id }}">View</router-link>
                    <router-link class="btn btn-success" :to="{ name: 'edit', params: { id: user.id }}">Edit</router-link>
                    <button v-on:click="deleteUser(user.id)" class="btn btn-danger"> Delete </button>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination :data="users" v-model="page" :per-page="limit" :records="total" @paginate="callback"/>
    </div>
</template>

<script type="text/javascript">
    export default {
        data() {
            return {
                users: [],
                page: 1,
                limit: 5,
                total: 0
            }
        },
        created() {
            this.axios
                .get('http://localhost:8000/api/users?page=1')
                .then(response => { 
                    this.users = response.data.data.data;
                    this.total = response.data.data.count;
                })
        },
        methods: {
            callback: function(page) {
                this.axios
                .get('http://localhost:8000/api/users?page='+page)
                .then(response => { 
                    this.users = response.data.data.data;
                })
            },

            deleteUser: function(id) {
                this.$swal({
                    title: "Delete this user?",
                    text: "Are you sure? You won't be able to revert this!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    confirmButtonText: "Yes, Delete it!",
                    closeOnConfirm: true
                }).then( result => {
                    if(result.isConfirmed) {
                        this.axios
                        .post('http://localhost:8000/api/users/delete/'+id)
                        .then(response => (
                            this.$swal({
                                title: 'Success',
                                text: 'User has been successfully deleted.',
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'Ok',
                                showCloseButton: true,
                                showLoaderOnConfirm: true
                            }).then((result) => {
                                if(result.value) {
                                    this.$router.go()
                                }
                            })
                        ))
                        .catch(err => console.log(err))
                        .finally(() => this.loading = false)
                    }
                })
            }
        }
    }
</script>   